<% provide(:title, "About") %>

    <h1>About</h1>

<p>
    The <a href="https://www.railstutorial.org/"><em>Ruby on Rails Tutorial </em></a> part of the <a href="https://www.learnenough.com/">Learn Enough</a> Family
    of tutorials is a <a href="https://www.railstutorial.org/book">book</a> and screencast series to teach web development with Ruby on rails. This is the simple app for
    the tutorial 
</p>

    </body>
</html>

















